:root{
    --color1:#443742;
    --color2:#846c5b;
    --color3:#cea07e;
    --color4:#edd9a3;
    --color5:#e2e8c0;
}

html,
body {
    height: 100%;
}
body{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--color5);


}
.signInWall {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 600px; 
    padding: 15px;
    margin: 0 auto;
    background-color: var(--color5);
    border-radius: 20px;
}
.form-control{
    height: 50px;
}

.btn-login{
    background-color: var(--color2);
    border: var(--color1);
    width: 130px;
    color: white;
}
.btn-login:hover{
    color: white;
}

img[class="facebook"] {
    width: 60px;
    cursor: pointer;
}

img[class="google"] {
    margin-left: 20px;
    width: 60px; 
    cursor: pointer;
}

.register{
    color: gray;
    font-size: 10px;
}

.right-img{
    display: inline-block;
    position: relative;
    top: -10px;
    width: 100%;
    height: 2px;
    border-radius: 20px;
}

